DJANGO_SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,EC2_PUBLIC_IP_OR_DOMAIN
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,http://EC2_PUBLIC_IP_OR_DOMAIN
ENV_TYPE=DEV

POSTGRES_DB=puntotech
POSTGRES_USER=puntotech
POSTGRES_PASSWORD=change-me

ALLIED_SERVICE_URL=
EXTERNAL_RATE_API_URL=https://api.frankfurter.app/latest
