DJANGO_SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,EC2_PUBLIC_IP_OR_DOMAIN
CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1,http://EC2_PUBLIC_IP_OR_DOMAIN
ENV_TYPE=DEV
LANGUAGE_CODE=es
TIME_ZONE=America/Bogota

DB_ENGINE=postgres
POSTGRES_DB=puntotech
POSTGRES_USER=puntotech
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0
CELERY_TASK_ALWAYS_EAGER=False

RECOMMENDATION_SERVICE_URL=http://flask-recomendaciones:5000
ALLIED_SERVICE_URL=
EXTERNAL_RATE_API_URL=https://api.frankfurter.app/latest

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
ADMIN_EMAIL=admin@puntotech.com
